@font-face {
    font-display: swap; 
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/manrope-v15-latin-regular.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/manrope-v15-latin-600.woff2') format('woff2'); 
  }
*{
    box-sizing: border-box;
    font-family: Manrope , sans-serif ;
}
.containers{
    max-width:1200px;
    padding:0 20px ;
    margin: 0 auto;
}
.header{
    background-image: url(../images/header.bg.png);
    background-repeat: no-repeat;
     background-size: cover ;
     background-position: center center;
    
    height:812px ;
}
@media (min-width:1024px){
  .header{
    background-image: url(../images/header.deks.bg.png);
    background-repeat: no-repeat;
     background-size: cover ;
     background-position: center center;
    
    height:900px ;
  }
}